<!doctype html>
<html lang="ja">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>かんぱち</title>
    <link rel="icon" type="image/x-icon" href="static/img/sashimi_kampachi.png">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="sample.js"></script>
  </head>
  <body>
    <div class="header">ヘッダ領域</div>
    <div class="main">
      <h1>見出し</h1>
      <p>以前の発表で用いたレジュメ</p>
      <img src="static/img/sashimi_kampachi.png">
      <iframe src="static/pdf/abst.pdf">
    </div>
    <div class="footer">
      <span>フッタ領域</span>
      <a href="#">リンク</a>
    </div>
  </body>
</html>